.menu.context-menu(draggable, ng-style="cm.contextMenuPos", ng-show="cm.contextMenu", ng-controller="ContextMenu as cm")
	.menu-title(ng-if="cm.options.modesTitle") Modes
	.menu-title(ng-if="cm.options.selectionTitle") Options
	div(ng-repeat="mode in cm.stage.modes", ng-if="cm.options[mode.name]" ng-class="mode.name", ng-click="cm.setMode(mode.name)")
			i(ng-class="m.getFAClass(mode)")
			| {{mode.name.capitalize()}}

	.combine(ng-if="cm.options.combine", ng-click="cm.combineSelected()") 
		i.fa.fa-chain
		| Combine
	.delete(ng-if="cm.options.delete", ng-click="cm.deleteSelected()")
		i.fa.fa-trash
		| Delete
	.fill.pointer(ng-if="cm.options.fill", ng-click="cm.fillSelected()") 
		i.fa.fa-th-large
		| Fill?