div(ng-controller="SelectedItemsMenu as sim")
	.menu.minimizable(class="item-menu ng-cloak draggable", ng-if="sim.selectedItems")
		.menu-title
			| Selected Items
			.minimize
				i.fa.fa-minus.minus
				i.fa.fa-plus.plus.none
		.menu-content
			.item-info
				.selected-items
					.selected-item(ng-repeat="item in sim.selectedItems")
						| {{item.length}} x 
						img(ng-src="img/{{item[0].file}}")
				.clear
				.info.input-group
					span Element Type
					input(value="", ng-model="sim.element")
				.info.input-group
					span Body
					select
						option(value="static") Static
						option(value="dynamic") Dynamic