+menu("keybindings-menu", "Key Bindings", "KeyBindings as kb")
  .item
    span Menu
    .key Right Click
  .item
    span Toggle Full Screen
    .key F
  .key-binding-title Selection Mode
  .item
    span Delete Items
    .key DEL
  .item
    span Deselect
    .key ESC
  .item
    span Selecting empty squares allows you to fill the size of the selection with one element
  .item
    span Selecting items allows you to delete or combine selected items