div(ng-controller="StageItemInfoMenu as info")
	.stage-item-info-menu.minimizable.ng-cloak(ng-if="info.selectedItems")
		.menu-title
			i.fa.fa-caret-right.show-hide(slider="right")
			| Selected Items
		.menu-content
			.item-info
				.selected-items
					.selected-item(ng-repeat="item in info.selectedItems")
						| {{item.length}} x 
						img(ng-src="{{item[0].src}}")
				.clear
				.info.input-group
					span Element Type
					input(value="", ng-model="info.element")
				.info.input-group
					span Body
					select
						option(value="static") Static
						option(value="dynamic") Dynamic