div(ng-controller="StageItemInfoMenu as info")
	.stage-item-info-menu.minimizable.ng-cloak(ng-if="info.stage.currentFile.type === 'spritesheet'")
		.menu-title
			i.fa.fa-caret-right.show-hide.slide-button
			| Sprite Sheet
		.menu-content
			.set-size
				| Set Size
				br
				input(type='checkbox', ng-model="info.stage.modes.sheetCutter.useSetSize")
				span W: &nbsp;
				input(type="number", value="32", ng-model="info.stage.modes.sheetCutter.frameWidth")
				span H: &nbsp;
				input(type="number", value="32", ng-model="info.stage.modes.sheetCutter.frameHeight")
			.info.input-group
				span Frames
				input(ng-model="info.stage.currentFile.frames.length")
			.info.input-group(ng-repeat="frame in info.stage.currentFile.frames")
				span x: {{frame.body.graphics.command.x}}
				span y: {{frame.body.graphics.command.y}}
				span w: {{frame.body.graphics.command.w}}
				span h: {{frame.body.graphics.command.h}}
	.stage-item-info-menu.minimizable.ng-cloak(ng-if="info.selectedItems", slider="right")
		.menu-title
			i.fa.fa-caret-right.show-hide.slide-button
			| Selected Items
		.menu-content
			.item-info
				.selected-items
					.selected-item(ng-repeat="item in info.selectedItems")
						| {{item.length}} x 
						img(ng-src="{{item[0].src}}")
				.clear
				.info.input-group
					span Element Type
					input(value="", ng-model="info.element")
				.info.input-group
					span Body
					select
						option(value="static") Static
						option(value="dynamic") Dynamic