div(ng-controller="StageItemInfoMenu as info")
	.stage-item-info-menu.minimizable.ng-cloak(ng-if="info.stage.currentFile.type === 'spritesheet'")
		.menu-title
			i.fa.fa-caret-right.show-hide.slide-button
			| Sprite Sheet
		.menu-content.scrollable
			.set-size
				| Set Size
				br
				input(type='checkbox', ng-model="info.stage.modes.sheetCutter.useSetSize")
				span W: &nbsp;
				input(type="number", value="32", ng-model="info.stage.modes.sheetCutter.frameWidth")
				span H: &nbsp;
				input(type="number", value="32", ng-model="info.stage.modes.sheetCutter.frameHeight")
			.info.input-group
				span Frames
				span {{info.stage.currentFile.frames.length}}
			.info.input-group.frame(ng-repeat="frame in info.stage.currentFile.frames")
				.frame-number
					| Frame {{info.stage.currentFile.frames.indexOf(frame) + 1}}
				.frame-info
					div
						span x: 
						input(type="number", ng-model="frame.body.x")
						span y: 
						input(type="number", ng-model="frame.body.y")
					div
						span w: 
						input(type="number", ng-model="frame.w", ng-change="frame.updateBodyWidth()")
						span h: 
						input(type="number", ng-model="frame.h", ng-change="frame.updateBodyHeight()")
	.stage-item-info-menu.minimizable.ng-cloak(ng-if="info.selectedItems", slider="right")
		.menu-title
			i.fa.fa-caret-right.show-hide.slide-button
			| Selected Items
		.menu-content
			.item-info
				.selected-items
					.selected-item(ng-repeat="item in info.selectedItems")
						| {{item.length}} x 
						img(ng-src="{{item[0].src}}")
				.clear
				.info.input-group
					span Element Type
					input(value="", ng-model="info.element")
				.info.input-group
					span Body
					select
						option(value="static") Static
						option(value="dynamic") Dynamic