.splash.new-file-splash.ng-cloak(ng-show="file.showCreateNewFileMenu", ng-click="file.hideNewFileMenu();")
	.new-file-menu.ng-cloak(ng-click="$event.stopPropagation()")
		h3 Create New {{file.newFileTypeText}}
		
		.new-file-info(ng-if="file.newFileType == 'tileMap'")
			.radio-inline-group
				.radio-inline
					label
						input(type="radio", ng-model="file.newFileExtension", value="js", checked)
						| JS
				.radio-inline
					label
						input(type="radio", ng-model="file.newFileExtension", value="ts")
						| TS
			span.new-file-width W:
			input.form-control(type="number", step="25", ng-model="file.newFileWidth", value="2000")
			span.new-file-width H:
			input.form-control(type="number", step="25", ng-model="file.newFileHeight", value="2000")
		form.input-group(ng-submit="file.createNewFile()", ng-if="file.newFileType == 'tileMap'")
			input.new-file-name.form-control(ng-model="file.newFileName", placeholder="File name...", focus-me="file.showCreateNewFileMenu")
			input.btn.btn-primary(type="submit", value="Create")

.splash.full-screen-img.ng-cloak(ng-show="m.fullScreenImg", ng-click="m.hideFullScreenImg()")
	.image-content.ng-cloak
		img(ng-src="{{m.fullScreenImg}}")

.splash.save-menu.ng-cloak(ng-if="file.showSaveMenu", ng-click="file.showSaveMenu = false;")
	.content.ng-cloak(ng-click="$event.stopPropagation()")
		.title Save Tile Map
		form.name(ng-submit="file.saveTileMap()")
			input.form-control(ng-model="m.stage.currentFile.name", placeholder="Filename...", focus-me="file.showSaveMenu")
			input.btn.btn-primary(type="submit", value="Save")

.splash.close-unsaved.ng-cloak(ng-if="file.closeUnsaved", ng-click="file.closeUnsaved = false;")
	.splash-content.content.ng-cloak(ng-click="$event.stopPropagation()")
		.title Are you sure you want to close without saving?
		.buttons
			input.btn.btn-primary(type="button", value="Yes", ng-click="file.stage.fileManager.closeFile(file.currentFileNameToClose); file.closeUnsaved = false;")
			input.btn.btn-danger(type="button", value="No", ng-click="file.closeUnsaved = false")