.grid-tabs
	.grid-tab.main-grid-toggle(ng-class="{selected : m.stage.currentFile.name === stage.name,'saved-bg' : stage.saved}", ng-repeat="stage in m.stage.files")
		span(ng-click="m.stage.fileManager.drawFile(stage.name)") {{stage.name}} 
		span.is-dirty
			span.ng-cloak(ng-if="stage.isDirty") *
		span.close-file(ng-click="file.closeFile(stage.name, stage.isDirty)") x
.grid.main-grid.scrollable(ng-class="{saved : file.saved, fullscreen : m.fullScreenGrid}")
	.current-item.ng-cloak(ng-style="m.currentItemStyle", ng-class="{'no-paint' : m.stage.noPaint === true}", ng-hide="m.hideCurrentItem")
		.current-mode {{m.stage.mode.capitalize()}}
		img(ng-if="m.stage.mode === 'paint'", ng-src="{{m.stage.currentItem.src}}")
		.selection-img(ng-if="m.stage.mode === 'selection'")
			
	.full-screen-exit-text(ng-show="m.showFullScreenExitText")
		div 
			| Press 
			span.key ESC
			| &nbsp;,
			| &nbsp;
			i.fa.fa-arrows-alt.key 
			|&nbsp;,
			| &nbsp; or &nbsp;
			span.key F
			| &nbsp; to exit Full Screen
	.full-screen-grid(title="Full Screen", ng-click="m.setGridFullScreen()")
		i.fa.fa-arrows-alt
	.modes
		include menus/mode
	.progress-container
		.progress
			.progress-bar(role='progressbar', aria-valuenow='60', aria-valuemin='0', aria-valuemax='100', style='width: 0%;')
				span.sr-only 60% Complete
	canvas#map-creator