.header
  .header-menu
    .file File
      ul.dropdown
        li.new
          | New
          i.fa.fa-caret-right
          ul.dropdown-submenu
            li.new-map(ng-click="file.showCreateFileMenu('tileMap')") Tile Map
            li.new-spritesheet(ng-click="file.showCreateFileMenu('spriteSheet')") Sprite Sheet
        li.save(ng-click="file.save()")
          | Save 
          .key Ctrl+S
        li.saveAs(ng-click="file.saveAs()") Save As
        li.export Export
          i.fa.fa-caret-right
          ul.dropdown-submenu
            li.export-image(ng-click="m.downloadCanvasImage()") As image
            li.export-image As CSV
    .edit Edit
    .map Tile Maps 
      ul.dropdown
        li.map(ng-repeat="map in file.maps", ng-click="m.stage.file.loadTileMap(map)", ng-if="map.label") {{map.id}}
    .map Sprite Sheets
      ul.dropdown
        li.map(ng-repeat="spritesheet in file.spritesheets", ng-click="m.stage.file.loadSpriteSheet(spritesheet)") {{spritesheet}}
  .header-panel
    .item-info
      img(ng-src="{{m.stage.currentItem.src}}")
      span Element Type
      input.form-control(value="floor", ng-model="m.stage.currentItem.elType")
      span Body Type
      select.form-control(ng-model="m.stage.currentItem.body")
        option(value="static") static
        option(value="dynamic") dynamic
        option(value="kinematic") kinematic

    .size
      .width
        span W:
        input.form-control(type='number', value='1600', step='25', ng-model="m.stage.currentFile.size.w", ng-change="m.stage.setSize()")
      .height
        span H:
        input.form-control(type='number', value='800', step='25', ng-model="m.stage.currentFile.size.h", ng-change="m.stage.setSize()")
