extends layout

block content
  .wrapper(cursor, ng-controller='MainController as m')
    include fullScreen
    
    include header
        
    include menus
    
    include grid
    include menus/context

