extends layout

block content
  include fullScreen
  .wrapper(cursor, ng-controller='MainController as m')
    
    include header
        
    include menus
    
    include grid
    include menus/context

