doctype html
html(lang='en', ng-app='app')
  head
    meta(charset='UTF-8')
    title Map Creator
    //- link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css')
    //- link(rel='stylesheet',  href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css')
    //- link(rel="stylesheet" href="//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css")
    link(rel='stylesheet', href='css/lib.css')
    link(rel='stylesheet', href='css/main.css')
  body(ng-controller="FileController as file")
    block content

    script(src='scripts/main.js')
